@import '@fontsource/fraunces/500.css';
@import '@fontsource/fraunces/600.css';
@import '@fontsource/fraunces/700.css';
@import '@fontsource/spline-sans/400.css';
@import '@fontsource/spline-sans/500.css';
@import '@fontsource/spline-sans/600.css';
@import '@fontsource/caveat/600.css';

@font-face {
  font-family: 'Comforter';
  src: url('@/assets/fonts/Comforter-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  src: url('@/assets/fonts/NotoSerif-Regular.ttf') format('truetype');
}
