@font-face {
  font-family: 'Comforter';
  src: url('@/assets/fonts/Comforter-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  src: url('@/assets/fonts/NotoSerif-Regular.ttf') format('truetype');
}
